<div class="container text-center footer-old">
    <!-- <p class="float-right">
                <a href="#">Back to top</a>
            </p> -->
    <p class="m-0 mont-light"> LOREM IPSUM &copy; 2020</p>
</div>