<div class="container text-center">
    <div class="d-flex justify-content-center align-items-center box-footer">
        <div class="row">
            <div class="col-12 box-top">
                <div class="box-logo">
                    <img src="./assets/images/logo/senka-logo.webp" class="lazy img-fluid logo" alt="logo">
                </div>
                <div class="box-address">
                    <p class="text">
                        88 @Kasablanka Office Tower, 33th Floor Unit FG, Jl. Casablanca Raya Kav 88, Jakarta Selatan
                        12870,
                        DKI Jakarta,
                        Indonesia
                    </p>
                </div>
            </div>
            <div class="col-12 box-bottom">
                <div class="d-flex d-md-none box-follow">
                    <h5 class="text">Follow Us</h5>
                </div>
                <div class="box-socmed">
                    <a href="https://www.facebook.com/senka.indo/" target="_blank" rel="noopener noreferrer">
                        <div class="box-icon">
                            <img src="./assets/images/icon-socmed/icon-fb.png" alt="socmed">
                        </div>
                    </a>
                    <a href="https://www.instagram.com/senkaindonesia/" target="_blank" rel="noopener noreferrer">
                        <div class="box-icon">
                            <img src="./assets/images/icon-socmed/icon-ig.png" alt="socmed">
                        </div>
                    </a>
                    <a href="https://www.tiktok.com/@senkaindonesia" target="_blank" rel="noopener noreferrer">
                        <div class="box-icon">
                            <img src="./assets/images/icon-socmed/icon-tiktok.png" alt="socmed">
                        </div>
                    </a>
                    <a href="https://www.youtube.com/channel/UC8uDW9jxYIXFVTSXH7cCyrQ" target="_blank"
                        rel="noopener noreferrer">
                        <div class="box-icon">
                            <img src="./assets/images/icon-socmed/icon-ytb.png" alt="socmed">
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="text-copy">
            <p class="text">
                Copyright © 2022 Fine Today Shiseido Co., Ltd.
            </p>
        </div>
        <div class="policy">
            <a href="/privacy-policy" target="_blank" rel="noopener noreferrer">
                Privacy Policy
            </a>
        </div>
    </div>
    <!-- <p class="m-0 mont-light"> LOREM IPSUM &copy; 2020</p> -->
</div>