<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body id="askDetail">
    <header>
        <%- include('../partials/nav'); %>
    </header>

    <section class="banner-jumbo">
        <img src="./assets/images/ask-senka/banner-detail-desktop.webp" class="lazy img-fluid bg-detail"
            alt="background">
        <img src="./assets/images/ask-senka/banner-detail-mobile.webp" class="lazy img-fluid bg-detail-mobile"
            alt="background">
        <div class="container-fluid">
            <div class="box-detail">
                <div class="title" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="600">
                    <h1>Ask Senka | Kulit Sensitif, Kusam</h1>
                </div>
                <div class="desc-box" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="600"
                    data-aos-delay="400">
                    <div class="subtitle">It turns out...</div>
                    <p class="text">
                        Kulit sensitif bisa disebabkan oleh beberapa hal, yakni polusi, pemakaian kosmetik yang kurang
                        tepat, dan perubahan hormon. Ditambah lagi dengan kebiasaan mencuci wajah yang salah dan paparan
                        sinar matahari berlebih, maka warna kulit pun jadi tidak merata, kemerahan, kering, gatal dan
                        gampang iritasi.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="section-one">
        <div class="container">
            <div class="title-section" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="400"
                data-aos-delay="500">
                <h2>We Recommend You To</h2>
            </div>
            <div class="row">
                <div class="col-6 col-md-3">
                    <div class="box-step" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="400"
                        data-aos-delay="700">
                        <div class="step-title">Step 1</div>
                        <div class="box-img">
                            <img class="img-fluid icon-step" src="./assets/images/ask-senka/ic-step-1.png" alt="icon">
                        </div>
                        <div class="box-desc">
                            <p class="text">
                                Double cleansing untuk bersihkan kotoran dan sebum berlebih di wajah
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-3">
                    <div class="box-step" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="400"
                        data-aos-delay="900">
                        <div class="step-title">Step 2</div>
                        <div class="box-img">
                            <img class="img-fluid icon-step" src="./assets/images/ask-senka/ic-step-2.png" alt="icon">
                        </div>
                        <div class="box-desc">
                            <p class="text">
                                Gunakan produk yang mengandung Hyaluronic Acid
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-3">
                    <div class="box-step" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="400"
                        data-aos-delay="1100">
                        <div class="step-title">Step 3</div>
                        <div class="box-img">
                            <img class="img-fluid icon-step" src="./assets/images/ask-senka/ic-step-3.png" alt="icon">
                        </div>
                        <div class="box-desc">
                            <p class="text">
                                Rutin memakai sheet mask yang dapat mencerahkan wajah
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-3">
                    <div class="box-step" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="400"
                        data-aos-delay="1300">
                        <div class="step-title">Step 4</div>
                        <div class="box-img">
                            <img class="img-fluid icon-step" src="./assets/images/ask-senka/ic-step-4.png" alt="icon">
                        </div>
                        <div class="box-desc">
                            <p class="text">
                                Never skip sunscreen and reapply every 2 hours
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-two">
        <img class="img-fluid bg-gif" src="./assets/images/ask-senka/bg-ask-detail.gif" alt="background">
        <div class="container">
            <div class="title-section" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="400"
                data-aos-delay="500">
                <h2>Get Your Perfectly Renewed Skin</h2>
            </div>
            <div class="row">
                <div class="col-12 col-md-4">
                    <div class="box-product" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="400"
                        data-aos-delay="600">
                        <div class="product-title">Senka Perfect Whip</div>
                        <div class="box-flex">
                            <div class="box-img">
                                <img class="img-fluid icon-step" src="./assets/images/product/spw.webp" alt="product">
                            </div>
                            <div class="product-title">Senka Perfect Whip</div>
                            <div class="swiper swiper-pd-detail">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="box-item">
                                            <div class="box-desc">
                                                <p class="text">
                                                    “Wah busanya bener bener banyak sih padahal pakainya cmn sedikit.
                                                    busanya di wajah serasa lembut dan bersih setelah pakai ini.”
                                                </p>
                                            </div>
                                            <div class="box-avatar">
                                                <div class="img-box">
                                                    <img class="img-fluid"
                                                        src="./assets/images/ask-senka/avatar-kumala.png" alt="avatar">
                                                </div>
                                                <div class="box-text">
                                                    <p class="name">
                                                        Kumala Sari
                                                    </p>
                                                    <p class="date-time">
                                                        32 | Jakarta
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="box-item">
                                            <div class="box-desc">
                                                <p class="text">
                                                    “Wah busanya bener bener banyak sih padahal pakainya cmn sedikit.
                                                    busanya di wajah serasa lembut dan bersih setelah pakai ini.”
                                                </p>
                                            </div>
                                            <div class="box-avatar">
                                                <div class="img-box">
                                                    <img class="img-fluid"
                                                        src="./assets/images/ask-senka/avatar-amelia.png" alt="avatar">
                                                </div>
                                                <div class="box-text">
                                                    <p class="name">
                                                        Tiara Ayu
                                                    </p>
                                                    <p class="date-time">
                                                        25 | Jakarta
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="box-item">
                                            <div class="box-desc">
                                                <p class="text">
                                                    RECOMMENDED! Irit banget yang 100 g udah dipakai 3 bulan belum habis
                                                    padahal dipakai setiap hari.
                                                </p>
                                            </div>
                                            <div class="box-avatar">
                                                <div class="img-box">
                                                    <img class="img-fluid"
                                                        src="./assets/images/ask-senka/avatar-kumala.png" alt="avatar">
                                                </div>
                                                <div class="box-text">
                                                    <p class="name">
                                                        Nabila S
                                                    </p>
                                                    <p class="date-time">
                                                        22 | Denpasar
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-pagination"></div>
                            </div>
                        </div>
                        <div class="box-button">
                            <button type="button" class="btn btn-blue mx-2" data-bs-toggle="modal"
                                data-bs-target="#modalStore">
                                Buy Now
                            </button>
                            <a href="/stories-detail" target="_self" rel="noopener noreferrer"
                                class="btn btn-white mx-2">
                                Learn More
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="box-product" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="400"
                        data-aos-delay="1000">
                        <div class="product-title">A.L.L. Clear Water White</div>
                        <div class="box-flex">
                            <div class="box-img">
                                <img class="img-fluid icon-step" src="./assets/images/product/acw-bright.webp"
                                    alt="product">
                            </div>
                            <div class="product-title">A.L.L. Clear Water White</div>
                            <div class="box-item">
                                <div class="swiper swiper-pd-detail">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="box-item">
                                                <div class="box-desc">
                                                    <p class="text">
                                                        “This product is soooooo good. Bisa ngebersihin kotoran di wajah
                                                        dengan efektif
                                                        banget. Baunya gak mengganggu sama sekali”
                                                    </p>
                                                </div>
                                                <div class="box-avatar">
                                                    <div class="img-box">
                                                        <img class="img-fluid"
                                                            src="./assets/images/ask-senka/avatar-kumala.png"
                                                            alt="avatar">
                                                    </div>
                                                    <div class="box-text">
                                                        <p class="name">
                                                            Tiara Ayu
                                                        </p>
                                                        <p class="date-time">
                                                            24 | Jakarta
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="box-item">
                                                <div class="box-desc">
                                                    <p class="text">
                                                        “Wah busanya bener bener banyak sih padahal pakainya cmn
                                                        sedikit.
                                                        busanya di wajah serasa lembut dan bersih setelah pakai ini.”
                                                    </p>
                                                </div>
                                                <div class="box-avatar">
                                                    <div class="img-box">
                                                        <img class="img-fluid"
                                                            src="./assets/images/ask-senka/avatar-amelia.png"
                                                            alt="avatar">
                                                    </div>
                                                    <div class="box-text">
                                                        <p class="name">
                                                            Tiara Ayu
                                                        </p>
                                                        <p class="date-time">
                                                            25 | Jakarta
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="box-item">
                                                <div class="box-desc">
                                                    <p class="text">
                                                        RECOMMENDED! Irit banget yang 100 g udah dipakai 3 bulan belum
                                                        habis padahal dipakai setiap hari.
                                                    </p>
                                                </div>
                                                <div class="box-avatar">
                                                    <div class="img-box">
                                                        <img class="img-fluid"
                                                            src="./assets/images/ask-senka/avatar-kumala.png"
                                                            alt="avatar">
                                                    </div>
                                                    <div class="box-text">
                                                        <p class="name">
                                                            Nabila S
                                                        </p>
                                                        <p class="date-time">
                                                            22 | Denpasar
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-pagination"></div>
                                </div>
                            </div>
                        </div>
                        <div class="box-button">
                            <button type="button" class="btn btn-blue mx-2" data-bs-toggle="modal"
                                data-bs-target="#modalStore">
                                Buy Now
                            </button>
                            <a href="/stories-detail" target="_self" rel="noopener noreferrer"
                                class="btn btn-white mx-2">
                                Learn More
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="box-product" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="400"
                        data-aos-delay="1400">
                        <div class="product-title">Perfect Aqua Rich Mask Luminous Moist</div>
                        <div class="box-flex">
                            <div class="box-img">
                                <img class="img-fluid icon-step" src="./assets/images/product/pam-luminos-moist.webp"
                                    alt="product">
                            </div>
                            <div class="product-title">Perfect Aqua Rich Mask Luminous Moist</div>
                            <div class="box-item">
                                <div class="swiper swiper-pd-detail">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="box-item">
                                                <div class="box-desc">
                                                    <p class="text">
                                                        “ini sih bagus banget aku pake produk ini untuk meningkatkan
                                                        kelembabkan kulit dan hasilnya sheet mask ini benar benar
                                                        mengatasi kering…”
                                                    </p>
                                                </div>
                                                <div class="box-avatar">
                                                    <div class="img-box">
                                                        <img class="img-fluid"
                                                            src="./assets/images/ask-senka/avatar-amelia.png"
                                                            alt="avatar">
                                                    </div>
                                                    <div class="box-text">
                                                        <p class="name">
                                                            Amelia Jeni
                                                        </p>
                                                        <p class="date-time">
                                                            18 | Medan
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="box-item">
                                                <div class="box-desc">
                                                    <p class="text">
                                                        “Wah busanya bener bener banyak sih padahal pakainya cmn
                                                        sedikit.busanya di wajah serasa lembut dan bersih setelah
                                                        pakai ini.”
                                                    </p>
                                                </div>
                                                <div class="box-avatar">
                                                    <div class="img-box">
                                                        <img class="img-fluid"
                                                            src="./assets/images/ask-senka/avatar-kumala.png"
                                                            alt="avatar">
                                                    </div>
                                                    <div class="box-text">
                                                        <p class="name">
                                                            Tiara Ayu
                                                        </p>
                                                        <p class="date-time">
                                                            25 | Jakarta
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="box-item">
                                                <div class="box-desc">
                                                    <p class="text">
                                                        RECOMMENDED! Irit banget yang 100 g udah dipakai 3 bulan
                                                        belum habis padahal dipakai setiap hari.
                                                    </p>
                                                </div>
                                                <div class="box-avatar">
                                                    <div class="img-box">
                                                        <img class="img-fluid"
                                                            src="./assets/images/ask-senka/avatar-amelia.png"
                                                            alt="avatar">
                                                    </div>
                                                    <div class="box-text">
                                                        <p class="name">
                                                            Nabila S
                                                        </p>
                                                        <p class="date-time">
                                                            22 | Denpasar
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-pagination"></div>
                                </div>
                            </div>
                        </div>
                        <div class="box-button">
                            <button type="button" class="btn btn-blue mx-2" data-bs-toggle="modal"
                                data-bs-target="#modalStore">
                                Buy Now
                            </button>
                            <a href="/stories-detail" target="_self" rel="noopener noreferrer"
                                class="btn btn-white mx-2">
                                Learn More
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="modalStore" tabindex="-1" aria-labelledby="modalStore" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">
                            Senka Official Store
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                            <i class="bi bi-x-circle"></i>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="box-list">
                            <div class="row">
                                <div class="col-6 col-md-12">
                                    <a href="#" target="_blank" rel="noopener noreferrer" class="link-store">
                                        <div class="list-item">
                                            <img src="./assets/images/official-store/os-shopee.png"
                                                class="lazy img-fluid img-store" alt="store">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-6 col-md-12">
                                    <a href="#" target="_blank" rel="noopener noreferrer" class="link-store">
                                        <div class="list-item">
                                            <img src="./assets/images/official-store/os-tokopedia.png"
                                                class="lazy img-fluid img-store" alt="store">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-6 col-md-12">
                                    <a href="#" target="_blank" rel="noopener noreferrer" class="link-store">
                                        <div class="list-item">
                                            <img src="./assets/images/official-store/os-sociolla.png"
                                                class="lazy img-fluid img-store" alt="store">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-6 col-md-12">
                                    <a href="#" target="_blank" rel="noopener noreferrer" class="link-store">
                                        <div class="list-item">
                                            <img src="./assets/images/official-store/os-watsons.png"
                                                class="lazy img-fluid img-store" alt="store">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-6 col-md-12">
                                    <a href="#" target="_blank" rel="noopener noreferrer" class="link-store">
                                        <div class="list-item">
                                            <img src="./assets/images/official-store/os-alfacart.png"
                                                class="lazy img-fluid img-store" alt="store">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-6 col-md-12">
                                    <a href="#" target="_blank" rel="noopener noreferrer" class="link-store">
                                        <div class="list-item">
                                            <img src="./assets/images/official-store/os-indomart.png"
                                                class="lazy img-fluid img-store" alt="store">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-6 col-md-12">
                                    <a href="#" target="_blank" rel="noopener noreferrer" class="link-store">
                                        <div class="list-item">
                                            <img src="./assets/images/official-store/os-tiktok.png"
                                                class="lazy img-fluid img-store" alt="store">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-6 col-md-12">
                                    <a href="#" target="_blank" rel="noopener noreferrer" class="link-store">
                                        <div class="list-item">
                                            <img src="./assets/images/official-store/os-blibli.png"
                                                class="lazy img-fluid img-store" alt="store">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-6 col-md-12">
                                    <a href="#" target="_blank" rel="noopener noreferrer" class="link-store">
                                        <div class="list-item">
                                            <img src="./assets/images/official-store/os-lazada.png"
                                                class="lazy img-fluid img-store" alt="store">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-6 col-md-12">
                                    <a href="#" target="_blank" rel="noopener noreferrer" class="link-store">
                                        <div class="list-item">
                                            <img src="./assets/images/official-store/os-jdid.png"
                                                class="lazy img-fluid img-store" alt="store">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>
    <%- include('../partials/script'); %>
</body>

</html>