<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body id="homepage">
    <header>
        <%- include('../partials/navigation'); %>
    </header>

    <section class="banner-jumbo">
        <div class="container-fluid">
            <!-- Swiper -->
            <div class="swiper swiper-banner-home">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="#" target="_blank" rel="noopener noreferrer">
                            <img class="d-none d-md-flex" src="./assets/images/home/banner-desktop-1.webp"
                                alt="banner desktop">
                            <img class="d-flex d-md-none" src="./assets/images/home/banner-mobile-1.webp"
                                alt="banner mobile">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" target="_blank" rel="noopener noreferrer">
                            <img class="d-none d-md-flex" src="./assets/images/home/banner-desktop-2.webp"
                                alt="banner desktop">
                            <img class="d-flex d-md-none" src="./assets/images/home/banner-mobile-2.webp"
                                alt="banner mobile">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" target="_blank" rel="noopener noreferrer">
                            <img class="d-none d-md-flex" src="./assets/images/home/banner-desktop-3.webp"
                                alt="banner desktop">
                            <img class="d-flex d-md-none" src="./assets/images/home/banner-mobile-3.webp"
                                alt="banner mobile">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" target="_blank" rel="noopener noreferrer">
                            <img class="d-none d-md-flex" src="./assets/images/home/banner-desktop-4.webp"
                                alt="banner desktop">
                            <img class="d-flex d-md-none" src="./assets/images/home/banner-mobile-4.webp"
                                alt="banner mobile">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" target="_blank" rel="noopener noreferrer">
                            <img class="d-none d-md-flex" src="./assets/images/home/banner-desktop-5.webp"
                                alt="banner desktop">
                            <img class="d-flex d-md-none" src="./assets/images/home/banner-mobile-5.webp"
                                alt="banner mobile">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" target="_blank" rel="noopener noreferrer">
                            <img class="d-none d-md-flex" src="./assets/images/home/banner-desktop-6.webp"
                                alt="banner desktop">
                            <img class="d-flex d-md-none" src="./assets/images/home/banner-mobile-6.webp"
                                alt="banner mobile">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" target="_blank" rel="noopener noreferrer">
                            <img class="d-none d-md-flex" src="./assets/images/home/banner-desktop-7.webp"
                                alt="banner desktop">
                            <img class="d-flex d-md-none" src="./assets/images/home/banner-mobile-7.webp"
                                alt="banner mobile">
                        </a>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
            <!-- <div class="box-shadow"></div> -->
            <!-- <img src="./assets/images/home/shadow-banner.png" class="lazy img-fluid shadow" alt="shadow"> -->
        </div>
    </section>

    <section class="section-one">
        <img class="img-fluid bg-section" src="./assets/images/home/bg-home-1.webp" alt="background">
        <div class="container">
            <div class="box-video" data-aos="zoom-in-up" data-aos-easing="ease-in-sine" data-aos-duration="400">
                <div class="youtube-container">
                    <div class="youtube-player" data-id="y-E8nKyBE38"></div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-two">
        <img class="img-fluid bg-section" src="./assets/images/home/bg-home-2.webp" alt="background">
        <div class="container-fluid">
            <div class="title-section" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="300">
                Pick Your Holy Grail
            </div>
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist" data-aos="fade-up" data-aos-easing="linear"
                data-aos-duration="300" data-aos-delay="100">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" data-bs-toggle="pill" data-bs-target="#category-fw" type="button"
                        role="tab" aria-controls="category-fw" aria-selected="true">
                        Facial Wash
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" data-bs-toggle="pill" data-bs-target="#category-mur" type="button"
                        role="tab" aria-controls="category-mur" aria-selected="false">
                        Make Up Remover
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" data-bs-toggle="pill" data-bs-target="#category-sm" type="button"
                        role="tab" aria-controls="category-sm" aria-selected="false">
                        Sheet Mask
                    </button>
                </li>
            </ul>
            <div class="tab-content" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="300"
                data-aos-delay="200">
                <div class="tab-pane fade show active" id="category-fw" role="tabpanel"
                    aria-labelledby="category-fw-tab">
                    <div class="row">
                        <div class="col-12 col-md-6 box-left">
                            <div class="swiper swiper-fw">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <img src="./assets/images/product/spw-white-clay.webp"
                                            class="lazy img-fluid product" alt="product">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="./assets/images/product/spw-collagen.webp"
                                            class="lazy img-fluid product" alt="product">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="./assets/images/product/spw-acne.webp" class="lazy img-fluid product"
                                            alt="product">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="./assets/images/product/spw.webp" class="lazy img-fluid product"
                                            alt="product">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 box-right">
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                            <div class="item-spw main">
                                <div class="box-title">Senka Perfect Whip</div>
                                <div class="box-desc">
                                    “PARAH CINTA BGT SM PRODUK INI! Bisa rontokin komedo di hidung (karena setelah pake
                                    berasa jadi halus banget!) muka jadi
                                    kenyal dan lembap.”
                                </div>
                                <div class="box-icon">
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                </div>
                                <div class="box-profile">
                                    <div class="name-old">
                                        <span class="fw-bold">Rizka Nadhira</span>
                                        <span class="fw-bold">(20, Depok)</span>
                                    </div>
                                    <div class="result-senka">
                                        Kulit Kombinasi, Dehidrasi
                                    </div>
                                </div>
                                <div class="box-button">
                                    <a href="/senka-perfect-whip" target="_blank" rel="noopener noreferrer"
                                        class="btn btn-white">
                                        Learn More
                                    </a>
                                </div>
                            </div>
                            <div class="item-spw acne">
                                <div class="box-title">Senka Perfect Whip Acne</div>
                                <div class="box-desc">
                                    “PARAH CINTA BGT SM PRODUK INI! Bisa rontokin komedo di hidung (karena setelah pake
                                    berasa jadi halus banget!) muka jadi
                                    kenyal dan lembap.”
                                </div>
                                <div class="box-icon">
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                </div>
                                <div class="box-profile">
                                    <div class="name-old">
                                        <span class="fw-bold">Rizka Nadhira</span>
                                        <span class="fw-bold">(20, Depok)</span>
                                    </div>
                                    <div class="result-senka">
                                        Kulit Kombinasi, Dehidrasi
                                    </div>
                                </div>
                                <div class="box-button">
                                    <a href="/senka-perfect-whip" target="_blank" rel="noopener noreferrer"
                                        class="btn btn-white">
                                        Learn More
                                    </a>
                                </div>
                            </div>
                            <div class="item-spw collagen">
                                <div class="box-title">Senka Perfect Whip Collagen</div>
                                <div class="box-desc">
                                    “PARAH CINTA BGT SM PRODUK INI! Bisa rontokin komedo di hidung (karena setelah pake
                                    berasa jadi halus banget!) muka jadi
                                    kenyal dan lembap.”
                                </div>
                                <div class="box-icon">
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                </div>
                                <div class="box-profile">
                                    <div class="name-old">
                                        <span class="fw-bold">Rizka Nadhira</span>
                                        <span class="fw-bold">(20, Depok)</span>
                                    </div>
                                    <div class="result-senka">
                                        Kulit Kombinasi, Dehidrasi
                                    </div>
                                </div>
                                <div class="box-button">
                                    <a href="/senka-perfect-whip" target="_blank" rel="noopener noreferrer"
                                        class="btn btn-white">
                                        Learn More
                                    </a>
                                </div>
                            </div>
                            <div class="item-spw white">
                                <div class="box-title">Senka Perfect Whip White Clay</div>
                                <div class="box-desc">
                                    “PARAH CINTA BGT SM PRODUK INI! Bisa rontokin komedo di hidung (karena setelah pake
                                    berasa jadi halus banget!) muka jadi
                                    kenyal dan lembap.”
                                </div>
                                <div class="box-icon">
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                </div>
                                <div class="box-profile">
                                    <div class="name-old">
                                        <span class="fw-bold">Rizka Nadhira</span>
                                        <span class="fw-bold">(20, Depok)</span>
                                    </div>
                                    <div class="result-senka">
                                        Kulit Kombinasi, Dehidrasi
                                    </div>
                                </div>
                                <div class="box-button">
                                    <a href="/senka-perfect-whip" target="_blank" rel="noopener noreferrer"
                                        class="btn btn-white">
                                        Learn More
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="category-mur" role="tabpanel" aria-labelledby="category-mur-tab">
                    <div class="row">
                        <div class="col-12 col-md-6 box-left">
                            <div class="swiper swiper-mur">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <img src="./assets/images/product/acw-bright.webp"
                                            class="lazy img-fluid product" alt="product">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="./assets/images/product/acw-moist.webp" class="lazy img-fluid product"
                                            alt="product">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="./assets/images/product/ac-oil.webp" class="lazy img-fluid product"
                                            alt="product">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="./assets/images/product/acw-fresh.webp" class="lazy img-fluid product"
                                            alt="product">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 box-right">
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                            <div class="item-mur main">
                                <div class="box-title">All Clear Water Fresh</div>
                                <div class="box-desc">
                                    “PARAH CINTA BGT SM PRODUK INI! Bisa rontokin komedo di hidung (karena setelah pake
                                    berasa jadi halus banget!) muka jadi
                                    kenyal dan lembap.”
                                </div>
                                <div class="box-icon">
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                </div>
                                <div class="box-profile">
                                    <div class="name-old">
                                        <span class="fw-bold">Rizka Nadhira</span>
                                        <span class="fw-bold">(20, Depok)</span>
                                    </div>
                                    <div class="result-senka">
                                        Kulit Kombinasi, Dehidrasi
                                    </div>
                                </div>
                                <div class="box-button">
                                    <a href="/all-clear-water-fresh" target="_blank" rel="noopener noreferrer"
                                        class="btn btn-white">
                                        Learn More
                                    </a>
                                </div>
                            </div>
                            <div class="item-mur acne">
                                <div class="box-title">All Clear Oil</div>
                                <div class="box-desc">
                                    “PARAH CINTA BGT SM PRODUK INI! Bisa rontokin komedo di hidung (karena setelah pake
                                    berasa jadi halus banget!) muka jadi
                                    kenyal dan lembap.”
                                </div>
                                <div class="box-icon">
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                </div>
                                <div class="box-profile">
                                    <div class="name-old">
                                        <span class="fw-bold">Rizka Nadhira</span>
                                        <span class="fw-bold">(20, Depok)</span>
                                    </div>
                                    <div class="result-senka">
                                        Kulit Kombinasi, Dehidrasi
                                    </div>
                                </div>
                                <div class="box-button">
                                    <a href="/all-clear-water-fresh" target="_blank" rel="noopener noreferrer"
                                        class="btn btn-white">
                                        Learn More
                                    </a>
                                </div>
                            </div>
                            <div class="item-mur collagen">
                                <div class="box-title">All Cleat Water Moist</div>
                                <div class="box-desc">
                                    “PARAH CINTA BGT SM PRODUK INI! Bisa rontokin komedo di hidung (karena setelah pake
                                    berasa jadi halus banget!) muka jadi
                                    kenyal dan lembap.”
                                </div>
                                <div class="box-icon">
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                </div>
                                <div class="box-profile">
                                    <div class="name-old">
                                        <span class="fw-bold">Rizka Nadhira</span>
                                        <span class="fw-bold">(20, Depok)</span>
                                    </div>
                                    <div class="result-senka">
                                        Kulit Kombinasi, Dehidrasi
                                    </div>
                                </div>
                                <div class="box-button">
                                    <a href="/all-clear-water-fresh" target="_blank" rel="noopener noreferrer"
                                        class="btn btn-white">
                                        Learn More
                                    </a>
                                </div>
                            </div>
                            <div class="item-mur white">
                                <div class="box-title">All Cleat Water Bright</div>
                                <div class="box-desc">
                                    “PARAH CINTA BGT SM PRODUK INI! Bisa rontokin komedo di hidung (karena setelah pake
                                    berasa jadi halus banget!) muka jadi
                                    kenyal dan lembap.”
                                </div>
                                <div class="box-icon">
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                </div>
                                <div class="box-profile">
                                    <div class="name-old">
                                        <span class="fw-bold">Rizka Nadhira</span>
                                        <span class="fw-bold">(20, Depok)</span>
                                    </div>
                                    <div class="result-senka">
                                        Kulit Kombinasi, Dehidrasi
                                    </div>
                                </div>
                                <div class="box-button">
                                    <a href="/all-clear-water-fresh" target="_blank" rel="noopener noreferrer"
                                        class="btn btn-white">
                                        Learn More
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="category-sm" role="tabpanel" aria-labelledby="category-sm-tab">
                    <div class="row">
                        <div class="col-12 col-md-6 box-left">
                            <div class="swiper swiper-sm">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <img src="./assets/images/product/pam-bouncy-moist.webp"
                                            class="lazy img-fluid product" alt="product">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="./assets/images/product/pam-bouncy-bright.webp"
                                            class="lazy img-fluid product" alt="product">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="./assets/images/product/psm-brightenning.webp"
                                            class="lazy img-fluid product" alt="product">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="./assets/images/product/psm-hydrating.webp"
                                            class="lazy img-fluid product" alt="product">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 box-right">
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                            <div class="item-sm main">
                                <div class="box-title">Perfect Skin Fit Mask Hydrating</div>
                                <div class="box-desc">
                                    “PARAH CINTA BGT SM PRODUK INI! Bisa rontokin komedo di hidung (karena setelah pake
                                    berasa jadi halus banget!) muka jadi
                                    kenyal dan lembap.”
                                </div>
                                <div class="box-icon">
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                </div>
                                <div class="box-profile">
                                    <div class="name-old">
                                        <span class="fw-bold">Rizka Nadhira</span>
                                        <span class="fw-bold">(20, Depok)</span>
                                    </div>
                                    <div class="result-senka">
                                        Kulit Kombinasi, Dehidrasi
                                    </div>
                                </div>
                                <div class="box-button">
                                    <a href="/perfect-skin-fit-mask-brightenning" target="_blank"
                                        rel="noopener noreferrer" class="btn btn-white">
                                        Learn More
                                    </a>
                                </div>
                            </div>
                            <div class="item-sm acne">
                                <div class="box-title">Perfect Skin Fit Mask Brightenning</div>
                                <div class="box-desc">
                                    “PARAH CINTA BGT SM PRODUK INI! Bisa rontokin komedo di hidung (karena setelah pake
                                    berasa jadi halus banget!) muka jadi
                                    kenyal dan lembap.”
                                </div>
                                <div class="box-icon">
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                </div>
                                <div class="box-profile">
                                    <div class="name-old">
                                        <span class="fw-bold">Rizka Nadhira</span>
                                        <span class="fw-bold">(20, Depok)</span>
                                    </div>
                                    <div class="result-senka">
                                        Kulit Kombinasi, Dehidrasi
                                    </div>
                                </div>
                                <div class="box-button">
                                    <a href="/perfect-skin-fit-mask-brightenning" target="_blank"
                                        rel="noopener noreferrer" class="btn btn-white">
                                        Learn More
                                    </a>
                                </div>
                            </div>
                            <div class="item-sm collagen">
                                <div class="box-title">Perfect Aqua Bouncy Mask Bright</div>
                                <div class="box-desc">
                                    “PARAH CINTA BGT SM PRODUK INI! Bisa rontokin komedo di hidung (karena setelah pake
                                    berasa jadi halus banget!) muka jadi
                                    kenyal dan lembap.”
                                </div>
                                <div class="box-icon">
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                </div>
                                <div class="box-profile">
                                    <div class="name-old">
                                        <span class="fw-bold">Rizka Nadhira</span>
                                        <span class="fw-bold">(20, Depok)</span>
                                    </div>
                                    <div class="result-senka">
                                        Kulit Kombinasi, Dehidrasi
                                    </div>
                                </div>
                                <div class="box-button">
                                    <a href="/perfect-skin-fit-mask-brightenning" target="_blank"
                                        rel="noopener noreferrer" class="btn btn-white">
                                        Learn More
                                    </a>
                                </div>
                            </div>
                            <div class="item-sm white">
                                <div class="box-title">Perfect Aqua Bouncy Mask Moist</div>
                                <div class="box-desc">
                                    “PARAH CINTA BGT SM PRODUK INI! Bisa rontokin komedo di hidung (karena setelah pake
                                    berasa jadi halus banget!) muka jadi
                                    kenyal dan lembap.”
                                </div>
                                <div class="box-icon">
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                </div>
                                <div class="box-profile">
                                    <div class="name-old">
                                        <span class="fw-bold">Rizka Nadhira</span>
                                        <span class="fw-bold">(20, Depok)</span>
                                    </div>
                                    <div class="result-senka">
                                        Kulit Kombinasi, Dehidrasi
                                    </div>
                                </div>
                                <div class="box-button">
                                    <a href="/perfect-skin-fit-mask-brightenning" target="_blank"
                                        rel="noopener noreferrer" class="btn btn-white">
                                        Learn More
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-three">
        <img class="img-fluid bg-section" src="./assets/images/home/bg-home-3.webp" alt="background">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 box-left">
                    <div class="box-ask" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="600"
                        data-aos-delay="500">
                        <div class="title-box">
                            <h5 class="text">
                                Reach Your Beautiful Bare Skin Goals
                            </h5>
                        </div>
                        <div class="desc-box">
                            <p class="text">
                                Setiap orang memiliki kulit yang punya kebutuhannya tersendiri. Bersama Senka, rawat
                                kulit wajahmu
                                agar bersih maksimal dan lembap alami.
                            </p>
                        </div>
                        <div class="select-box">
                            <select class="form-select custom-select" name="state" aria-label="Default select example">
                                <option selected>Sebutkan Jenis Kulitmu!</option>
                                <option value="kulit-kering">Kulit Kering</option>
                                <option value="kulit-sensitif">Kulit Sensitif</option>
                                <option value="kulit-normal">Kulit Normal</option>
                                <option value="kulit-berminyak">Kulit Berminyak</option>
                                <option value="kulit-kombinasi">Kulit Kombinasi</option>
                            </select>
                            <select class="form-select custom-select" name="state" aria-label="Default select example">
                                <option selected>Sebutkan Masalah Kulitmu!</option>
                                <option value="kasar">Tekstur Wajah Kasar</option>
                                <option value="tidak-rata">Warna Kulit Tidak Rata</option>
                                <option value="noda-hitam">Flek Noda Hitam</option>
                                <option value="dehidrasi">Dehidrasi</option>
                                <option value="kusam">Kusam</option>
                                <option value="komedo">Komedo</option>
                                <option value="jerawat">Jerawat</option>
                            </select>
                        </div>
                        <div class="box-button">
                            <a href="/ask-senka-detail" target="_self" rel="noopener noreferrer" class="btn btn-blue">
                                Check The Result
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 box-right">
                    <div class="image-box" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="600"
                        data-aos-delay="100">
                        <img src="./assets/images/home/senka-ask.webp" class="lazy img-fluid" alt="ask-senka">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-four">
        <img class="img-fluid bg-section" src="./assets/images/home/bg-home-4.webp" alt="background">
        <div class="container">
            <div class="box-head">
                <div class="title-box" data-aos="fade-in" data-aos-easing="linear" data-aos-duration="400"
                    data-aos-delay="200">
                    <h4 class="text">
                        Senka Stories
                    </h4>
                </div>
                <div class="desc-box" data-aos="fade-in" data-aos-easing="linear" data-aos-duration="400"
                    data-aos-delay="300">
                    <p class="subtitle">
                        Siap tampil percaya diri menjalani hari, kenali wajahmu dan temukan tips terbaik untuk
                        merawatnya di sini!
                    </p>
                </div>
            </div>
            <div class="box-category" data-aos="fade-in" data-aos-easing="linear" data-aos-duration="400"
                data-aos-delay="400">
                <div class="title-stories">
                    Newest Article
                </div>
            </div>
            <div class="row mb-5 g-4">
                <div class="col col-sm-6 col-lg-3 box-card" data-aos="fade-right" data-aos-easing="linear"
                    data-aos-duration="400" data-aos-delay="500">
                    <div class="card h-100 shadow">
                        <img src="./assets/images/stories/thumbnail-1.webp" class="card-img-top" alt="thumbnail">
                        <div class="overlay">
                            <div class="text">
                                Wah, nggak hanya baik untuk kesehatan tubuh, tapi juga bermanfaat untuk kecantikan juga,
                                lho! Penasaran? Intip manfaat
                                Bunga Chamomile selengkapnya di sini!
                            </div>
                        </div>
                        <div class="card-body">
                            <p class="card-text">
                                Manfaat Bunga Chamomile Pada Senka Perfect Whip Acne Care
                            </p>
                            <div class="box-button">
                                <a href="#" target="_blank" rel="noopener noreferrer" class="btn btn-blue">
                                    Read More
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-sm-6 col-lg-3 box-card" data-aos="fade-right" data-aos-easing="linear"
                    data-aos-duration="400" data-aos-delay="700">
                    <div class="card h-100 shadow">
                        <img src="./assets/images/stories/thumbnail-2.webp" class="card-img-top" alt="thumbnail">
                        <div class="overlay">
                            <div class="text">
                                Wah, nggak hanya baik untuk kesehatan tubuh, tapi juga bermanfaat untuk kecantikan juga,
                                lho! Penasaran? Intip manfaat
                                Bunga Chamomile selengkapnya di sini!
                            </div>
                        </div>
                        <div class="card-body">
                            <p class="card-text">
                                5 Hal Tentang Cuci Muka Ini Bikin Kamu Pede Tampil Bare Skin
                            </p>
                            <div class="box-button">
                                <a href="#" target="_blank" rel="noopener noreferrer" class="btn btn-blue">
                                    Read More
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-sm-6 col-lg-3 box-card" data-aos="fade-right" data-aos-easing="linear"
                    data-aos-duration="400" data-aos-delay="900">
                    <div class="card h-100 shadow">
                        <img src="./assets/images/stories/thumbnail-3.webp" class="card-img-top" alt="thumbnail">
                        <div class="overlay">
                            <div class="text">
                                Wah, nggak hanya baik untuk kesehatan tubuh, tapi juga bermanfaat untuk kecantikan juga,
                                lho! Penasaran? Intip manfaat
                                Bunga Chamomile selengkapnya di sini!
                            </div>
                        </div>
                        <div class="card-body">
                            <p class="card-text">
                                Basic Skincare untuk Pemula, Apa Saja Sih?
                            </p>
                            <div class="box-button">
                                <a href="#" target="_blank" rel="noopener noreferrer" class="btn btn-blue">
                                    Read More
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-sm-6 col-lg-3 box-card" data-aos="fade-right" data-aos-easing="linear"
                    data-aos-duration="400" data-aos-delay="1100">
                    <div class="card h-100 shadow">
                        <img src="./assets/images/stories/thumbnail-4.webp" class="card-img-top" alt="thumbnail">
                        <div class="overlay">
                            <div class="text">
                                Wah, nggak hanya baik untuk kesehatan tubuh, tapi juga bermanfaat untuk kecantikan juga,
                                lho! Penasaran? Intip manfaat
                                Bunga Chamomile selengkapnya di sini!
                            </div>
                        </div>
                        <div class="card-body">
                            <p class="card-text">
                                Ampuh dan Praktis! Intip Skincare Routine untuk Kulit Bruntusan
                            </p>
                            <div class="box-button">
                                <a href="#" target="_blank" rel="noopener noreferrer" class="btn btn-blue">
                                    Read More
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-button" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="400"
                data-aos-delay="200">
                <a href="#" target="_blank" rel="noopener noreferrer" class="btn btn-white">
                    Explore More
                </a>
            </div>
        </div>
    </section>

    <section class="section-five">
        <img src="./assets/images/home/cover-subs.webp" class="lazy img-fluid bg-contact" alt="bg-contact">
        <img src="./assets/images/home/cover-subs-mobile.webp" class="lazy img-fluid bg-contact-mobile"
            alt="bg-contact">
        <div class="container-fluid">
            <div class="box-contact">
                <div class="row">
                    <div class="col-12 col-md-5 box-left">
                        <div class="title-box">
                            <h5 class="text">Join Teman Senka</h5>
                        </div>
                        <div class="subtitle-box">
                            <p class="text">
                                Be the first to find out about new products, upcoming stories, and latest events.
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-md-7 box-right">
                        <div class="box-form">
                            <form>
                                <div class="box-input">
                                    <input type="email" class="form-control" id="emailContact"
                                        aria-describedby="emailContact" placeholder="Your Email Here">
                                </div>
                                <button type="submit" class="btn btn-blue">Subscribe</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>
    <script>
        const myNav = document.getElementById('navbarHome');
        window.onscroll = function () {
            "use strict";
            if (document.body.scrollTop >= 400 || document.documentElement.scrollTop >= 400) {
                myNav.classList.add("nav-colored");
                myNav.classList.remove("nav-transparent");
            } else {
                myNav.classList.add("nav-transparent");
                myNav.classList.remove("nav-colored");
            }
        };

    </script>
    <%- include('../partials/script'); %>
</body>

</html>