<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body id="privacy">
    <header>
        <%- include('../partials/nav'); %>
    </header>

    <section class="section-one">
        <div class="container">
            <div class="box-privacy">
                <div class="title-box" data-aos="fade-up" data-aos-easing="ease-in-back" data-aos-duration="800">
                    <h1 class="text">
                        Privacy Policy
                    </h1>
                </div>
                <div class="desc-box" data-aos="fade-up" data-aos-easing="ease-in-back" data-aos-duration="800"
                    data-aos-delay="200">
                    <p class="content">
                        Fine Today Co., LTD (“Fine Today” or “We”) is committed to protecting your privacy and ensuring
                        that your Personal Data
                        is protected. For the purposes of this Privacy Policy, “Personal Data” means any personally
                        identifiable data, whether
                        true or not, about an individual who can be identified from that data.
                    </p>
                    <div class="content-box">
                        <h5 class="subtitle">
                            1. APPLICATION
                        </h5>
                        <p class="content">
                            This Privacy Policy explains the types of Personal Data we collect and how we use, disclose,
                            transfer, process and
                            protect that information.<br><br>

                            We collect Personal Data through, but not limited to, the following means:<br>
                            (a) When you shop on or browse https://www.senka.id/ (the “Website”);<br>
                            (b) When you shop in-store at our physical stores;<br>
                            (c) When you connect with us through social media or attend our marketing events; and<br>
                            (d) When you agree and consent to be a member of the Fine Today Membership, whether through
                            physical or electronic
                            means.<br><br>

                            We may update this Privacy Policy from time to time by posting updated versions on the
                            Website,
                            and/or by sending an
                            email to you. We will notify you and obtain your consent to each updated version of the
                            Privacy
                            Policy.<br><br>

                            Please check back regularly for updated information on how we handle your Personal Data.
                        </p>
                    </div>
                    <div class="content-box">
                        <h5 class="subtitle">
                            2. CONSENT
                        </h5>
                        <p class="content">
                            We do not collect, use or disclose your Personal Data without your consent (except where
                            permitted and authorised by
                            law). By providing your consent through the consent collection form, you hereby consent to
                            us
                            collecting, using,
                            disclosing, transferring, and processing your Personal Data for the purposes set out in
                            Section
                            3 of this Privacy
                            Policy.<br><br>

                            The types of Personal Data we collect include, but are not limited to, your: (a) first name
                            and
                            family name; (b) home
                            address; (c) date of birth; (d) email address; and, only if appropriate, your (e) user name
                            and
                            password; (f) billing
                            and delivery address; (g) personal identification number; and (h) other information as may
                            be
                            reasonably required for us
                            to provide you with the Services as defined in Section 3 below.
                        </p>
                    </div>

                    <div class="content-box">
                        <h5 class="subtitle">
                            3. PURPOSE
                        </h5>
                        <p class="content">
                            We collect, use, disclose, transfer and process your Personal Data for the purpose of
                            providing
                            services. These services
                            include, but are not limited to:<br><br>

                            1. Providing you with information on products and campaigns from us, Fine Today Group and
                            our
                            third party business
                            partners via email, SMS, and post (where we have your express consent);<br>
                            2. Allowing you to purchase products and services offered for sale via the Website;<br>
                            3. Facilitating your transactions with us;<br>
                            4. Sending you product samples and/or products;<br>
                            5. Keeping you informed of updates, changes, and developments relating to us and our
                            Services;<br>
                            6. Notifying you about important changes to this Privacy Policy, and to our other policies
                            or
                            services;<br>
                            7. Providing you with personalised consultations;<br>
                            8. Responding to queries or feedback from you;<br>
                            9. Maintaining and operating the Website;<br>
                            10. Managing our administrative and business operations;<br>
                            11. Engaging third party business partners and data processors to perform certain aspects of
                            the
                            Services;<br>
                            12. Performing customer profiling, market analysis, and research to improve our product and
                            service offerings to you;<br>
                            13. Preventing, detecting and investigating crime and analysing and managing commercial
                            risks;
                            and<br>
                            14. Other purposes which are reasonably related to the above. (collectively, the “Services”)
                        </p>
                    </div>

                    <div class="content-box">
                        <h5 class="subtitle">
                            4. WITHDRAWAL OF CONSENT, ACCESS & CORRECTION
                        </h5>
                        <p class="content">
                            If you wish to withdraw your consent to receive information on new products and campaigns,
                            or
                            any
                            other Services, you
                            may do so by:<br>
                            1. Unsubscribing from our Website;<br>
                            2. Clicking the “Unsubscribe” link in the email(s) we send to you;<br>
                            3. Contacting our Data Protection Officer at the email address below; or<br>
                            4. Writing to us at the address below.<br><br>

                            Please note that if you choose to withdraw your consent to our use, disclosure, transfer
                            and/or
                            processing of your
                            Personal Data, we may not be able to provide you with some or all of the Services.<br><br>

                            We will ensure that the Personal Data in our possession is accurate and complete to the best
                            of
                            our
                            knowledge.<br><br>

                            You have a right to request for access and correction of your Personal Data. If you would
                            like
                            assistance in accessing
                            and/or correcting your Personal Data, please contact our Data Protection Officer at the
                            email
                            address below. We will get
                            back to you within 30 days. You may specify if any collected Personal Data is to be treated
                            as
                            confidential.
                        </p>
                    </div>

                    <div class="content-box">
                        <h5 class="subtitle">
                            5. CHILDREN
                        </h5>
                        <p class="content">
                            This Website is directed toward and designed for use by persons aged 21 or older. We do not
                            intend to collect Personal Data from children under 21 years of age, except on some sites
                            specifically directed to children.
                            <br><br>

                            We protect the Personal Data of children along with the necessary parental consent in the
                            same manner as it protects the Personal Data of adults.
                        </p>
                    </div>

                    <div class="content-box">
                        <h5 class="subtitle">
                            6. THIRD PARTY DISCLOSURE & TRANSFER
                        </h5>
                        <p class="content">
                            We do not disclose or transfer your Personal Data to third parties unless we have clearly
                            asked for and obtained your consent to do so (except where permitted and authorised by
                            law).<br><br>

                            The Personal Data which you provide to us may be stored, processed, transferred between, and
                            accessed from servers
                            located in the United States and other countries which have laws and regulations that may
                            not guarantee the same level
                            of protection of Personal Data as Indonesia. However, we will take reasonable steps to
                            ensure that your Personal Data is
                            handled in accordance with this Privacy Policy, regardless of where your Personal Data is
                            stored or accessed from.
                            <br><br>

                            6.1 Disclosure to affiliated companies in the Fine Today Shiseido Co.
                            The Fine Today Group comprises a number of affiliated companies and legal entities located
                            both within and outside
                            Indonesia. We may disclose, where appropriate and to the extent necessary, your Personal
                            Data to such affiliated
                            companies and legal entities for the purposes of corporate reporting, market research and
                            analysis, customer
                            relationship management and other related legal and business purposes. Please note that we
                            provide our affiliated
                            companies and legal entities with only the Personal Data they need for such business and
                            legal purposes, and we require
                            that they protect such Personal Data in accordance with the applicable laws and regulations
                            and this Privacy Policy, and
                            not use it for any other purpose.
                            <br><br>

                            6.2 Disclosure to third party business partners
                            We rely on third party business partners to perform a variety of services on our behalf. In
                            so doing, Fine Today may let
                            service providers, located both within and outside Indonesia, use your Personal Data for the
                            marketing and promotion of
                            products, services or events that may be of interest to you, for market research and
                            analysis, for customer relationship
                            management, and for the fulfilment of your orders for products and services purchased via
                            the Website. Please note that
                            we provide our third party business partners with only the Personal Data they need to
                            perform their services and we
                            require that they protect such Personal Data in accordance with the applicable laws and
                            regulations and this Privacy
                            Policy, and not use it for any other purpose.
                            <br><br>

                            6.3 Disclosure to third party data processors
                            We may use third party service providers, located both within and outside Indonesia, to help
                            us maintain and operate the
                            Website, or for other reasons related to the operation of the Website and Fine Today’s
                            business, and they may receive
                            your Personal Data for these purposes. We only provide them the Personal Data they need to
                            provide these services on our
                            behalf. We require these companies to protect the Personal Data in accordance with the
                            applicable laws and regulations
                            and this Privacy Policy, and to not use the information for any other purpose.
                            <br><br>

                            6.4 Other disclosure
                            We may use and disclose your Personal Data to perform your instructions and, as relevant,
                            (a) comply with legislative
                            and regulatory requirements; (b) protect or defend rights or properties of customers and
                            employees of Fine Today; and/or
                            (c) take emergency measures for the purpose of securing the safety of customers, Fine Today,
                            or the general public.

                        </p>
                    </div>

                    <div class="content-box">
                        <h5 class="subtitle">
                            7. SECURITY & PROTECTION
                        </h5>
                        <p class="content">
                            We maintain strict procedures, standards, and security arrangements to protect Personal Data
                            in our possession or under
                            our control. Upon receipt of your Personal Data, whether through physical or electronic
                            means of collection, we will
                            make the necessary security arrangements to protect such Personal Data as are reasonable and
                            appropriate in the
                            circumstances. Such arrangements may comprise administrative measures, physical measures,
                            technical measures, or a
                            combination of such measures.<br><br>

                            When disclosing or transferring your Personal Data over the internet, we take all reasonable
                            care to prevent
                            unauthorised access to your Personal Data. However, no data transmission over the internet
                            can be guaranteed as fully
                            secure and you acknowledge that you submit information over the internet at your own risk.
                        </p>
                    </div>

                    <div class="content-box">
                        <h5 class="subtitle">
                            8. RETENTION OF PERSONAL DATA
                        </h5>
                        <p class="content">
                            We will not retain your Personal Data for any period of time longer than is necessary to
                            serve the purposes set out in this Privacy Policy and any valid business or legal purposes.
                            After this period of time, we will destroy or anonymize any documents containing your
                            Personal Data in a safe and secure manner.
                        </p>
                    </div>

                    <div class="content-box">
                        <h5 class="subtitle">
                            9. GOVERNING LAW
                        </h5>
                        <p class="content">
                            This Privacy Policy is governed by Indonesian law.
                        </p>
                    </div>

                    <div class="content-box">
                        <h5 class="subtitle">
                            10. WAIVER
                        </h5>
                        <p class="content">
                            You and Fine Today expressly agree to waive and set aside our respective rights and
                            obligations under any applicable law in the event of any termination of this privacy policy
                            to the extent that such law requires any judicial pronouncement for the termination of this
                            Privacy Policy.
                        </p>
                    </div>

                    <div class="content-box">
                        <h5 class="subtitle">
                            11. CONTACT US
                        </h5>
                        <p class="content">
                            If you would like to access or correct any Personal Data which you have provided to us,
                            submit a complaint, or have any queries about your Personal Data, please contact our Data
                            Protection Officer by contacting us at info@shiseido.id. Alternatively, you may write to us
                            at:<br><br>

                            Fine Today ShiseidoCo.,LTD<br>
                            EightyEight@Kasablanka, Tower A, Lantai 30, Unit A ＆ H, Kota Kasablanka, Jl. Kasablanka Kav.
                            88 Jakarta Selatan 12870<br>
                            Tel: 62-21-2982-0118<br><br><br>

                            Date: [October 20th, 2020]
                        </p>
                    </div>

                </div>
            </div>
    </section>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
    <%- include('../partials/script'); %>
</body>

</html>