<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body id="productPage">
    <header>
        <%- include('../partials/nav'); %>
    </header>

    <section class="banner-jumbo">
        <img src="./assets/images/product/banner-product.webp" class="lazy img-fluid bg-product" alt="background">
        <img src="./assets/images/product/banner-product-mb.webp" class="lazy img-fluid bg-product-mobile"
            alt="background">
        <div class="container-fluid">
            <div class="box-product">
                <div class="title" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="200">
                    <h1>Meet Our Products</h1>
                </div>
                <div class="desc-box" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="400"
                    data-aos-delay="300">
                    <p class="text">
                        Get your better skin with
                        every wash!
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="section-one">
        <img class="img-fluid bg-section" src="./assets/images/product/bg-section-onep.webp" alt="background">
        <div class="container">
            <div class="title-section" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="200"
                data-aos-delay="100">
                <h4 class="text-title">All Products</h4>
            </div>
            <div class="d-flex align-items-start box-tabs">
                <div class="nav nav-pills me-3" role="tablist" aria-orientation="vertical" data-aos-easing="linear"
                    data-aos-duration="400" data-aos-delay="400">
                    <button class="nav-link active" data-bs-toggle="pill" data-bs-target="#category-fw" type="button"
                        role="tab" aria-controls="category-fw" aria-selected="true">
                        <img src="./assets/images/product/category-fw.png" class="lazy img-fluid ic-category"
                            alt="category">
                    </button>
                    <button class="nav-link" data-bs-toggle="pill" data-bs-target="#category-mur" type="button"
                        role="tab" aria-controls="category-mur" aria-selected="false">
                        <img src="./assets/images/product/category-mur.png" class="lazy img-fluid ic-category"
                            alt="category">
                    </button>
                    <button class="nav-link" data-bs-toggle="pill" data-bs-target="#category-sm" type="button"
                        role="tab" aria-controls="category-sm" aria-selected="false">
                        <img src="./assets/images/product/category-sm.png" class="lazy img-fluid ic-category"
                            alt="category">
                    </button>
                </div>
                <div class="tab-content" data-aos-easing="linear" data-aos-duration="500" data-aos-delay="800">
                    <div class="tab-pane fade show active" id="category-fw" role="tabpanel"
                        aria-labelledby="category-fw-tab" data-aos-easing="linear" data-aos-duration="200"
                        data-aos-delay="1000">
                        <div class="row">
                            <div class="col-6 col-md-4 box-item">
                                <a class="link-product" href="/senka-perfect-whip" target="_self"
                                    rel="noopener noreferrer">
                                    <div class="box-square">
                                        <div class="box-img">
                                            <img src="./assets/images/product/spw.webp" class="lazy img-fluid product"
                                                alt="product">
                                            <img src="./assets/images/product/icon-first.png"
                                                class="lazy img-fluid attribute" alt="attribute">
                                            <div class="overlay">
                                                <img src="./assets/images/product/icon-new.png"
                                                    class="lazy img-fluid hoverlay" alt="icon">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box-title">
                                        <h5 class="text-title">
                                            Senka Perfect Whip
                                        </h5>
                                    </div>
                                </a>
                            </div>
                            <div class="col-6 col-md-4 box-item">
                                <a class="link-product" href="/senka-perfect-whip" target="_self"
                                    rel="noopener noreferrer">
                                    <div class="box-square">
                                        <div class="box-img">
                                            <img src="./assets/images/product/spw-gel.webp"
                                                class="lazy img-fluid product" alt="product">
                                            <div class="overlay">
                                                <img src="./assets/images/product/icon-new.png"
                                                    class="lazy img-fluid hoverlay" alt="icon">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box-title">
                                        <h5 class="text-title">
                                            Senka Perfect Gel
                                            Gentle Wash
                                        </h5>
                                    </div>
                                </a>
                            </div>
                            <div class="col-6 col-md-4 box-item">
                                <a class="link-product" href="/senka-perfect-whip" target="_self"
                                    rel="noopener noreferrer">
                                    <div class="box-square">
                                        <div class="box-img">
                                            <img src="./assets/images/product/spw-berry.webp"
                                                class="lazy img-fluid product" alt="product">
                                            <img src="./assets/images/product/icon-new.png"
                                                class="lazy img-fluid attribute" alt="attribute">
                                            <div class="overlay">
                                                <img src="./assets/images/product/icon-new.png"
                                                    class="lazy img-fluid hoverlay" alt="icon">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box-title">
                                        <h5 class="text-title">
                                            Senka Perfect Whip
                                            Berry Bright
                                        </h5>
                                    </div>
                                </a>
                            </div>
                            <div class="col-6 col-md-4 box-item">
                                <a class="link-product" href="/senka-perfect-whip" target="_self"
                                    rel="noopener noreferrer">
                                    <div class="box-square">
                                        <div class="box-img">
                                            <img src="./assets/images/product/spw-fresh.webp"
                                                class="lazy img-fluid product" alt="product">
                                            <div class="overlay">
                                                <img src="./assets/images/product/icon-new.png"
                                                    class="lazy img-fluid hoverlay" alt="icon">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box-title">
                                        <h5 class="text-title">
                                            Senka Perfect Whip Fresh
                                        </h5>
                                    </div>
                                </a>
                            </div>
                            <div class="col-6 col-md-4 box-item">
                                <a class="link-product" href="/senka-perfect-whip" target="_self"
                                    rel="noopener noreferrer">
                                    <div class="box-square">
                                        <div class="box-img">
                                            <img src="./assets/images/product/spw-white-clay.webp"
                                                class="lazy img-fluid product" alt="product">
                                            <div class="overlay">
                                                <img src="./assets/images/product/icon-new.png"
                                                    class="lazy img-fluid hoverlay" alt="icon">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box-title">
                                        <h5 class="text-title">
                                            Senka Perfect Whip
                                            White Clay
                                        </h5>
                                    </div>
                                </a>
                            </div>
                            <div class="col-6 col-md-4 box-item">
                                <a class="link-product" href="/senka-perfect-whip" target="_self"
                                    rel="noopener noreferrer">
                                    <div class="box-square">
                                        <div class="box-img">
                                            <img src="./assets/images/product/spw-acne.webp"
                                                class="lazy img-fluid product" alt="product">
                                            <div class="overlay">
                                                <img src="./assets/images/product/icon-new.png"
                                                    class="lazy img-fluid hoverlay" alt="icon">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box-title">
                                        <h5 class="text-title">
                                            Senka Perfect Whip
                                            Acne Care
                                        </h5>
                                    </div>
                                </a>
                            </div>
                            <div class="col-6 col-md-4 box-item">
                                <a class="link-product" href="/senka-perfect-whip" target="_self"
                                    rel="noopener noreferrer">
                                    <div class="box-square">
                                        <div class="box-img">
                                            <img src="./assets/images/product/spw-white.webp"
                                                class="lazy img-fluid product" alt="product">
                                            <div class="overlay">
                                                <img src="./assets/images/product/icon-new.png"
                                                    class="lazy img-fluid hoverlay" alt="icon">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box-title">
                                        <h5 class="text-title">
                                            Senka Perfect Whip
                                            Vibrant White
                                        </h5>
                                    </div>
                                </a>
                            </div>
                            <div class="col-6 col-md-4 box-item">
                                <a class="link-product" href="/senka-perfect-whip" target="_self"
                                    rel="noopener noreferrer">
                                    <div class="box-square">
                                        <div class="box-img">
                                            <img src="./assets/images/product/spw-collagen.webp"
                                                class="lazy img-fluid product" alt="product">
                                            <div class="overlay">
                                                <img src="./assets/images/product/icon-new.png"
                                                    class="lazy img-fluid hoverlay" alt="icon">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box-title">
                                        <h5 class="text-title">
                                            Senka Perfect Gel
                                            Collagen In
                                        </h5>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="category-mur" role="tabpanel" aria-labelledby="category-mur-tab"
                        data-aos-easing="linear" data-aos-duration="200" data-aos-delay="1400">
                        <div class="row">
                            <div class="col-6 col-md-4 box-item">
                                <a class="link-product" href="/all-clear-water-fresh" target="_self"
                                    rel="noopener noreferrer">
                                    <div class="box-square">
                                        <div class="box-img">
                                            <img src="./assets/images/product/acw-bright.webp"
                                                class="lazy img-fluid product" alt="product">
                                            <div class="overlay">
                                                <img src="./assets/images/product/icon-new.png"
                                                    class="lazy img-fluid hoverlay" alt="icon">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box-title">
                                        <h5 class="text-title">
                                            A.L.L. Clear Water Bright
                                        </h5>
                                    </div>
                                </a>
                            </div>
                            <div class="col-6 col-md-4 box-item">
                                <a class="link-product" href="/all-clear-water-fresh" target="_self"
                                    rel="noopener noreferrer">
                                    <div class="box-square">
                                        <div class="box-img">
                                            <img src="./assets/images/product/acw-fresh.webp"
                                                class="lazy img-fluid product" alt="product">
                                            <div class="overlay">
                                                <img src="./assets/images/product/icon-new.png"
                                                    class="lazy img-fluid hoverlay" alt="icon">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box-title">
                                        <h5 class="text-title">
                                            A.L.L. Clear Water Fresh
                                        </h5>
                                    </div>
                                </a>
                            </div>
                            <div class="col-6 col-md-4 box-item">
                                <a class="link-product" href="/all-clear-water-fresh" target="_self"
                                    rel="noopener noreferrer">
                                    <div class="box-square">
                                        <div class="box-img">
                                            <img src="./assets/images/product/acw-moist.webp"
                                                class="lazy img-fluid product" alt="product">
                                            <img src="./assets/images/product/icon-new.png"
                                                class="lazy img-fluid attribute" alt="attribute">
                                            <div class="overlay">
                                                <img src="./assets/images/product/icon-new.png"
                                                    class="lazy img-fluid hoverlay" alt="icon">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box-title">
                                        <h5 class="text-title">
                                            A.L.L. Clear Water Moist
                                        </h5>
                                    </div>
                                </a>
                            </div>
                            <div class="col-6 col-md-4 box-item">
                                <a class="link-product" href="/all-clear-water-fresh" target="_self"
                                    rel="noopener noreferrer">
                                    <div class="box-square">
                                        <div class="box-img">
                                            <img src="./assets/images/product/acs-bright.webp"
                                                class="lazy img-fluid product" alt="product">
                                            <img src="./assets/images/product/icon-new.png"
                                                class="lazy img-fluid attribute" alt="attribute">
                                            <div class="overlay">
                                                <img src="./assets/images/product/icon-new.png"
                                                    class="lazy img-fluid hoverlay" alt="icon">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box-title">
                                        <h5 class="text-title">
                                            A.L.L. Clear Sheet Bright
                                        </h5>
                                    </div>
                                </a>
                            </div>
                            <div class="col-6 col-md-4 box-item">
                                <a class="link-product" href="/all-clear-water-fresh" target="_self"
                                    rel="noopener noreferrer">
                                    <div class="box-square">
                                        <div class="box-img">
                                            <img src="./assets/images/product/acs-fresh.webp"
                                                class="lazy img-fluid product" alt="product">
                                            <img src="./assets/images/product/icon-new.png"
                                                class="lazy img-fluid attribute" alt="attribute">
                                            <div class="overlay">
                                                <img src="./assets/images/product/icon-new.png"
                                                    class="lazy img-fluid hoverlay" alt="icon">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box-title">
                                        <h5 class="text-title">
                                            A.L.L. Clear Sheet Fresh
                                        </h5>
                                    </div>
                                </a>
                            </div>
                            <div class="col-6 col-md-4 box-item">
                                <a class="link-product" href="/all-clear-water-fresh" target="_self"
                                    rel="noopener noreferrer">
                                    <div class="box-square">
                                        <div class="box-img">
                                            <img src="./assets/images/product/acs-moist.webp"
                                                class="lazy img-fluid product" alt="product">
                                            <img src="./assets/images/product/icon-new.png"
                                                class="lazy img-fluid attribute" alt="attribute">
                                            <div class="overlay">
                                                <img src="./assets/images/product/icon-new.png"
                                                    class="lazy img-fluid hoverlay" alt="icon">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box-title">
                                        <h5 class="text-title">
                                            A.L.L. Clear Sheet Moist
                                        </h5>
                                    </div>
                                </a>
                            </div>
                            <div class="col-6 col-md-4 box-item">
                                <a class="link-product" href="/all-clear-water-fresh" target="_self"
                                    rel="noopener noreferrer">
                                    <div class="box-square">
                                        <div class="box-img">
                                            <img src="./assets/images/product/ac-oil.webp"
                                                class="lazy img-fluid product" alt="product">
                                            <div class="overlay">
                                                <img src="./assets/images/product/icon-new.png"
                                                    class="lazy img-fluid hoverlay" alt="icon">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box-title">
                                        <h5 class="text-title">
                                            A.L.L. Clear Oil
                                        </h5>
                                    </div>
                                </a>
                            </div>
                            <div class="col-6 col-md-4 box-item">
                                <a class="link-product" href="/all-clear-water-fresh" target="_self"
                                    rel="noopener noreferrer">
                                    <div class="box-square">
                                        <div class="box-img">
                                            <img src="./assets/images/product/ac-eye-lip.webp"
                                                class="lazy img-fluid product" alt="product">
                                            <div class="overlay">
                                                <img src="./assets/images/product/icon-new.png"
                                                    class="lazy img-fluid hoverlay" alt="icon">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box-title">
                                        <h5 class="text-title">
                                            A.L.L. Clear Eye & Lip
                                        </h5>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="category-sm" role="tabpanel" aria-labelledby="category-sm-tab"
                        data-aos-easing="linear" data-aos-duration="200" data-aos-delay="1800">
                        <div class="row">
                            <div class="col-6 col-md-4 box-item">
                                <a class="link-product" href="/perfect-skin-fit-mask-brightenning" target="_self"
                                    rel="noopener noreferrer">
                                    <div class="box-square">
                                        <div class="box-img">
                                            <img src="./assets/images/product/psm-brightenning.webp"
                                                class="lazy img-fluid product" alt="product">
                                            <div class="overlay">
                                                <img src="./assets/images/product/icon-new.png"
                                                    class="lazy img-fluid hoverlay" alt="icon">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box-title">
                                        <h5 class="text-title">
                                            Perfect Skin Fit Mask Brightenning
                                        </h5>
                                    </div>
                                </a>

                            </div>
                            <div class="col-6 col-md-4 box-item">
                                <a class="link-product" href="/perfect-skin-fit-mask-brightenning" target="_self"
                                    rel="noopener noreferrer">
                                    <div class="box-square">
                                        <div class="box-img">
                                            <img src="./assets/images/product/psm-hydrating.webp"
                                                class="lazy img-fluid product" alt="product">
                                            <img src="./assets/images/product/icon-new.png"
                                                class="lazy img-fluid attribute" alt="attribute">
                                            <div class="overlay">
                                                <img src="./assets/images/product/icon-new.png"
                                                    class="lazy img-fluid hoverlay" alt="icon">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box-title">
                                        <h5 class="text-title">
                                            Perfect Skin Fit Mask Hydrating
                                        </h5>
                                    </div>
                                </a>
                            </div>
                            <div class="col-6 col-md-4 box-item">
                                <a class="link-product" href="/perfect-skin-fit-mask-brightenning" target="_self"
                                    rel="noopener noreferrer">
                                    <div class="box-square">
                                        <div class="box-img">
                                            <img src="./assets/images/product/pam-bouncy-bright.webp"
                                                class="lazy img-fluid product" alt="product">
                                            <div class="overlay">
                                                <img src="./assets/images/product/icon-new.png"
                                                    class="lazy img-fluid hoverlay" alt="icon">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box-title">
                                        <h5 class="text-title">
                                            Perfect Aquan Bouncy Mask Bright
                                        </h5>
                                    </div>
                                </a>
                            </div>
                            <div class="col-6 col-md-4 box-item">
                                <a class="link-product" href="/perfect-skin-fit-mask-brightenning" target="_self"
                                    rel="noopener noreferrer">
                                    <div class="box-square">
                                        <div class="box-img">
                                            <img src="./assets/images/product/pam-bouncy-moist.webp"
                                                class="lazy img-fluid product" alt="product">
                                            <div class="overlay">
                                                <img src="./assets/images/product/icon-new.png"
                                                    class="lazy img-fluid hoverlay" alt="icon">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box-title">
                                        <h5 class="text-title">
                                            Perfect Aquan Bouncy Mask Moist
                                        </h5>
                                    </div>
                                </a>

                            </div>
                            <div class="col-6 col-md-4 box-item">
                                <a class="link-product" href="/perfect-skin-fit-mask-brightenning" target="_self"
                                    rel="noopener noreferrer">
                                    <div class="box-square">
                                        <div class="box-img">
                                            <img src="./assets/images/product/pam-extra-moist.webp"
                                                class="lazy img-fluid product" alt="product">
                                            <div class="overlay">
                                                <img src="./assets/images/product/icon-new.png"
                                                    class="lazy img-fluid hoverlay" alt="icon">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box-title">
                                        <h5 class="text-title">
                                            Perfect Aqua Rich Mask Extra Moist
                                        </h5>
                                    </div>
                                </a>
                            </div>
                            <div class="col-6 col-md-4 box-item">
                                <a class="link-product" href="/perfect-skin-fit-mask-brightenning" target="_self"
                                    rel="noopener noreferrer">
                                    <div class="box-square">
                                        <div class="box-img">
                                            <img src="./assets/images/product/pam-luminos-moist.webp"
                                                class="lazy img-fluid product" alt="product">
                                            <div class="overlay">
                                                <img src="./assets/images/product/icon-new.png"
                                                    class="lazy img-fluid hoverlay" alt="icon">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box-title">
                                        <h5 class="text-title">
                                            Perfect Aqua Rich Mask Luminos Moist
                                        </h5>
                                    </div>
                                </a>
                            </div>
                            <div class="col-6 col-md-4 box-item">
                                <a class="link-product" href="/perfect-skin-fit-mask-brightenning" target="_self"
                                    rel="noopener noreferrer">
                                    <div class="box-square">
                                        <div class="box-img">
                                            <img src="./assets/images/product/pam-extra-white.webp"
                                                class="lazy img-fluid product" alt="product">
                                            <div class="overlay">
                                                <img src="./assets/images/product/icon-new.png"
                                                    class="lazy img-fluid hoverlay" alt="icon">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box-title">
                                        <h5 class="text-title">
                                            Perfect Aqua White Mask Extra White
                                        </h5>
                                    </div>
                                </a>
                            </div>
                            <div class="col-6 col-md-4 box-item">
                                <a class="link-product" href="/perfect-skin-fit-mask-brightenning" target="_self"
                                    rel="noopener noreferrer">
                                    <div class="box-square">
                                        <div class="box-img">
                                            <img src="./assets/images/product/pam-soothing.webp"
                                                class="lazy img-fluid product" alt="product">
                                            <div class="overlay">
                                                <img src="./assets/images/product/icon-new.png"
                                                    class="lazy img-fluid hoverlay" alt="icon">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box-title">
                                        <h5 class="text-title">
                                            Perfect Aqua White Mask Soothing White
                                        </h5>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>
    <%- include('../partials/script'); %>
</body>

</html>