<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body id="acquisitionPage">
    <header>
        <%- include('../partials/header'); %>
    </header>

    <section class="banner-jumbo bg-white">
        <div class="container">
            <h1 class="title-banner mont-thin">TITLE LOREM IPSUM</h1>
            <button type="submit" class="btn btn-secondary mont-light">Button</button>
        </div>
        <img src="./assets/images/ic-arrow.png" class="lazy img-fluid ics-arrow" alt="icon-arrow">
    </section>

    <section class="section-one bg-white">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="box-item">
                        <h5 class="title mont-bold">TITLE LOREM IPSUM</h5>
                        <p class="text-desc mont-lt">
                            tes development
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                        <button type="submit" class="btn btn-secondary mont-light">Button</button>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-12 box-item-left">
                            <i class="bi bi-question-circle mb-3"></i>
                            <h5 class="title mont-bold mt-3">Title Lorem Ipsum</h5>
                            <p class="text-desc open-sans">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua.
                            </p>
                        </div>
                        <div class="col-12 box-item-left">
                            <i class="bi bi-question-circle mb-3"></i>
                            <h5 class="title mont-bol mt-3">Title Lorem Ipsum</h5>
                            <p class="text-desc open-sans">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-12 box-item-left">
                            <i class="bi bi-question-circle mb-3"></i>
                            <h5 class="title mont-bold mt-3">Title Lorem Ipsum</h5>
                            <p class="text-desc open-sans">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua.
                            </p>
                        </div>
                        <div class="col-12 box-item-left">
                            <i class="bi bi-question-circle mb-3"></i>
                            <h5 class="title mont-bold mt-3">Title Lorem Ipsum</h5>
                            <p class="text-desc open-sans">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-two bg-white">
        <div class="container">
            <div class="row">
                <div class="col-md-4 d-flex align-items-center item-cols">
                    <div class="box-img">
                        <h5 class="title mont-bold">TITLE LOREM IPSUM</h5>
                    </div>
                </div>
                <div class="col-md-4 item-cols">
                    <div class="box-img">
                        <img src="./assets/images/img-square.png" class="lazy img-fluid" alt="thumbnail">
                    </div>
                </div>
                <div class="col-md-4 item-cols">
                    <div class="box-img">
                        <img src="./assets/images/img-square.png" class="lazy img-fluid" alt="thumbnail">
                    </div>
                </div>
                <div class="col-md-4 item-cols">
                    <div class="box-img">
                        <img src="./assets/images/img-square.png" class="lazy img-fluid" alt="thumbnail">
                    </div>
                </div>
                <div class="col-md-4 item-cols">
                    <div class="box-img">
                        <img src="./assets/images/img-square.png" class="lazy img-fluid" alt="thumbnail">
                    </div>
                </div>
                <div class="col-md-4 item-cols">
                    <div class="box-img">
                        <img src="./assets/images/img-square.png" class="lazy img-fluid" alt="thumbnail">
                    </div>
                </div>
            </div>

            <div class="testimonial text-center">
                <h1 class="title-testi mont-bold">TITLE LOREM IPSUM</h1>
                <p class="text-desc mont-lt">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.
                </p>
                <button type="submit" class="btn btn-secondary mont-medium">I’m interested!</button>
            </div>
        </div>
    </section>

    <section class="section-three bg-light">
        <div class="container-fluid">
            <h1 class="title-head text-center mont-bold">TITLE LOREM IPSUM</h1>
            <!-- Swiper -->
            <div class="swiper swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="row">
                            <div class="col-md-6 position-relative px-4">
                                <img src="./assets/images/ic-quotes.png" class="lazy img-fluid ic-quotes" alt="quotes">
                                <div class="text-name">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut
                                    labore.
                                </div>
                                <div class="name mont-light">FullName 1</div>
                            </div>
                            <div class="col-md-6 position-relative px-4">
                                <img src="./assets/images/ic-quotes.png" class="lazy img-fluid ic-quotes" alt="quotes">
                                <div class="text-name">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut
                                    labore.
                                </div>
                                <div class="name mont-light">FullName 2</div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="row">
                            <div class="col-md-6 position-relative px-4">
                                <img src="./assets/images/ic-quotes.png" class="lazy img-fluid ic-quotes" alt="quotes">
                                <div class="text-name">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut
                                    labore.
                                </div>
                                <div class="name mont-light">FullName 3</div>
                            </div>
                            <div class="col-md-6 position-relative px-4">
                                <img src="./assets/images/ic-quotes.png" class="lazy img-fluid ic-quotes" alt="quotes">
                                <div class="text-name">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut
                                    labore.
                                </div>
                                <div class="name mont-light">FullName 4</div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="row">
                            <div class="col-md-6 position-relative px-4">
                                <img src="./assets/images/ic-quotes.png" class="lazy img-fluid ic-quotes" alt="quotes">
                                <div class="text-name">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut
                                    labore.
                                </div>
                                <div class="name mont-light">FullName 5</div>
                            </div>
                            <div class="col-md-6 position-relative px-4">
                                <img src="./assets/images/ic-quotes.png" class="lazy img-fluid ic-quotes" alt="quotes">
                                <div class="text-name">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut
                                    labore.
                                </div>
                                <div class="name mont-light">FullName 6</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
                <!-- Add Arrows -->
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>
    </section>

    <section class="section-four">
        <div class="container">
            <h1 class="title-bottom text-center mont-bold">TITLE LOREM IPSUM</h1>
        </div>
    </section>

    <footer class="footer-old">
        <%- include('../partials/footer-old'); %>
    </footer>
    <%- include('../partials/script'); %>
</body>

</html>